* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-title {
  padding: 3%;
  align-self: center;
}

#todo {
  width: 95%;
  align-items: center;
  justify-content: center;
}

#todoForm {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.input {
  align-self: left;
  width: 90%;
  margin: 0 1%;
}

#todoList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2%;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 2% 0;
  height: 7vh;
  padding: 1%;
  border: 2px solid black;
  align-items: center;
  justify-content: space-around;
}

.subCard {
  width: 45%;
}

.edit-btn {
  width: 4vw;
  height: 4vh;
}

.delete-btn {
  width: 4vw;
  height: 4vh;
  margin-left: 3px;
}
