* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-title {
  padding: 3%;
  align-self: center;
}

#todo {
  width: 95%;
  align-items: center;
  justify-content: center;
}

#todoForm {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 1%;
  border: 1px solid black;
}

.input {
  align-self: left;
  width: 90%;
  margin: 0 1%;
}

#currentTask {
  border-top: 2px solid black;
  margin: 3% 0 0 0;
  padding-top: 2%;
}

#todoList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 2% 0;
  height: 7vh;
  padding: 1%;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

.subCard {
  width: 45%;
  padding: 0 1%;
}

.btn {
  margin: 0 2px;
}
